@{
    ViewData["Title"] = "Home Page";
}
 
 
@{if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <ul>
    <li><form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    </li>
    <li>
    <form method="post" asp-action="RedirectToUsersTable" asp-controller="Account">
    <input type="submit" value="Таблица"/>
    </form>
    </li>
    </ul>
    

}
else
{
    <ul>
    <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
    <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
    </ul>
}}